body {
  background-color: #ffeadb;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 125%;
}

h1 {
  font-size: 5.625rem;
  color: #66bfbf;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  font-size: 2.5em;
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
}
h3{
  #color: #11999e;
  font-family: 'Montserrat', sans-serif;
}

div {
  background-color: #fde2e2;

}
.top{
  background-color: #ffeadb;
  position: relative;
  padding-top: 100px;
}

.middle {

}

.bottom{
}

/* .pro{
  text-decoration: underline;
} */

.top-cloud{
  position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
